# Ignore build outputs
bin/
obj/
Models/
# Ignore user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore Visual Studio temp folder
.vs/

# Ignore LocalDB physical files (ONLY if not sharing .mdf/.ldf)
*.mdf
*.ldf

# Ignore EF Migrations snapshots (optional)
Migrations/*Snapshot.cs

# Ignore log files and OS clutter
*.log
*.DS_Store
Thumbs.db

# Ignore secrets
appsettings.Development.json
